[submodule "third_party/lua/lua"]
	path = third_party/lua/lua
	url = https://github.com/Farbigoz/lua.git
[submodule "third_party/QSourceHighlite"]
	path = third_party/QSourceHighlite
	url = https://github.com/Waqar144/QSourceHighlite.git

